
#{extends 'menu.html' /}
#{set cssName:'getPassword' /}
<form action="/Users/findPassword" onsubmit="return check_form(this)" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	<ul class="form-body">
		<li class="from-head">找回密码</li>
		<li id="errorMessage">
			#{if flash.error}
			${flash.error}
			#{/if}
		</li>
		<li>
			<label for="email">您的邮箱:</label>
			<input type="text" name="email" id="email" class="input-text"></li>
		<li>
			<label for="code">请输入验证码:</label>
		</li>
		<li>
			<img class="code" src="@{Users.captcha(randomID)}" />
			<input type="text" name="code" id="code" size="18" class="input-code"/>
			<input type="hidden" name="randomID" value="${randomID}" />
		</li>
		<li>
			<input type="submit" value="提交" class="input-submit"/>
		</li>
	</ul>
</form>
<div class="footer">
	<p>Copyright ? 2013 All Rights Reserved</p>
</div>
<script type="text/javascript" src="/public/javascripts/getpassword.js"></script>
</body>
</html>