#{extends 'menu.html' /}
#{set cssName:'help' /}
    <div id="help_content">
        <h1 class="location">你现在的位置：<a href="@{Application.index()}">首页</a>><em><a href="@{Uploads.index()}">我要求助</a></em></h1>
        <div class="helpinfomation">
            <p id="errorMessage"></p>
            <form action="/Uploads/uploadhelp" method="post" accept-charset="utf-8" enctype="multipart/form-data" onsubmit="javascript:editor.sync();return check_form(this)">
                <ul>
                    <li>
                        <label for="title">标题:</label>
                        <input type="text" class="helpform_input" id="title" onblur="checkTitle(this);" name="title" placeholder="输入标题"/>
                    </li>
                    <li>
                        <label for="content">求助资料:</label>
                        <br/>    
                        <textarea id="content" name="content" style="width:500px;height:300px;" placeholder="输入您的求助信息，如说明你的个人情况等。">输入您的求助信息，如说明你的个人情况等。</textarea>
                    </li>
                    <li>
                        <input type="file" id="file" name="file" />
                    </li>
                    <li>
                        <input class="help_submit" type="submit"  value="提交"/>  
                    </li>
                </ul>
            </form>
        </div>
    </div>
	<div class="footer">
            <p>Copyright ? 2013 All Rights Reserved</p>
    </div>
    <script type="text/javascript" charset="utf-8" src="/public/kindeditor/kindeditor.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/kindeditor/lang/zh_CN.js"></script>
    <script>
        var editor;
        KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
        allowFileManager : true,
        forecolor : 'gray',
        afterFocus : function(e){
        if (editor.html()=='输入您的求助信息，如说明你的个人情况等。')
            editor.html('');
        },
        afterBlur : function(e){
        if (editor.html()=='<p><br /></p>' || editor.html()=='' || editor.html().replace(/&nbsp;/gi, '') == '' || editor.isEmpty())
            editor.html('输入您的求助信息，如说明你的个人情况等。');
        }
        });
        });
        
    </script>
    <script type="text/javascript" charset="utf-8" src="/public/javascripts/help.js"></script>
</body>
</html>