#{extends 'menu.html' /}
#{set cssName:'help-news' /}<!--与showAllReports.html共用help-news.css-->
    <div id="help-news-box">
		<h1 class="location">你现在的位置：<a href="@{Application.index()}">首页</a>><em><a href="@{Uploads.showAllUploads(0)}">求助资讯</a></em></h1>
	    #{if allUploads.size() >= 1}
        #{list items:allUploads, as:'allUploadVal'}
            <div class="row">
    	    	<div class="span1">
                    #{if allUploadVal.fileName.matches("^.+\\.img")||
                    allUploadVal.fileName.matches("^.+\\.png")||
                    allUploadVal.fileName.matches("^.+\\.gif") ||
                    allUploadVal.fileName.matches("^.+\\.jpg") ||
                    allUploadVal.fileName.matches("^.+\\.jpeg")}
                    <a class="thumbnail imgcommon" hrefs="#"><img src="/public/images/${allUploadVal.fileName}" alt="childrplen" width="180" height="150" />
                    </a>
                    #{/if}
                    #{else}
                    <a class="thumbnail imgcommon" href="#"><img src="/public/images/usrLogo.jpg" alt="childrplen" width="180" height="150" /></a>
                    #{/else}
                </div>
                <div class="span2">
                    <h2 class="body_left2_title"><a href="@{Uploads.showOneUpload(allUploadVal.id)}">&{allUploadVal.title}</a></h2>
                    &{allUploadVal.content}
                </div>
                #{if session.get("authority") == "1"}
                <span class="span3">
                    <a class="red" href="@{Uploads.deleteUpload(allUploadVal.id)}">删除</a>
                    #{if allUploadVal.priority == 0}
                    <a href="@{Uploads.setTop(allUploadVal.id)}">置顶</a>
                    #{/if}
                    #{if allUploadVal.priority != 0}
                    <a href="@{Uploads.cancelTop(allUploadVal.id)}">取消置顶</a>
                    #{/if}
                </span>
                #{/if}
            </div>
        #{/list}
        #{/if}
        #{else}
            <div><p>暂时还没有求助信息</p></div>
        #{/else}
        #{if allUploads.size() > 10}
        <div class="page-box">
            <a class="next-page-btn-a" href="@{Uploads.previousPage(startPosition)}">上一页</a>

            %{
                for(int i = 0; i < totalUpload/10; i++) {
            }%
                <a href="@{Uploads.showAllUploads(i)}" class="page-num">${i+1}</a>
            %{
                }
            }%

            <a class="next-page-btn-a" href="@{Uploads.nextPage(startPosition)}">下一页</a>
        </div>
        #{/if}
        <div class="footer">
            <p>Copyright ? 2013 All Rights Reserved</p>
        </div>
	</div>
</body>	
</html>